<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      {{#linkTo 'home' class='brand'}}Flitter{{/linkTo}}
      <form class="navbar-search pull-left">
        {{view Ember.TextField class="search-query" placeholder="Search Crunchbase instantly" valueBinding="App.CurrentQuery.query"}}
      </form>
    </div>
  </div>
</div>
