<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      {{#linkTo 'home' class='brand'}}Flitter{{/linkTo}}
      <form class="navbar-search pull-left">
        {{view Ember.TextField class="search-query" placeholder="Search Crunchbase instantly" valueBinding="App.CurrentQuery.query"}}
      </form>
      <ul class="nav">
        <li><a>Funding Dates</a></li>
      </u>
      <div class="span4" style="margin-top:13px">
        <div id="slider"></div>
      </div>
      <ul class="nav">
        <li><a></a></li> {{! Spacing }}
        <li>
          <a>
            {{App.CurrentQuery.startDisplay}} - {{App.CurrentQuery.endDisplay}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
